@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: "Roboto";
}

a {
  color: #000;
}

.logo {
  font-family: "Shrikhand";
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.home_header_page {
  padding-top: 25px;
  padding-bottom: 15px;
  justify-content: center;
  align-content: center;
}
.home_header_page img {
  width: 220px;
}

footer {
  padding-right: 5.5%;
  padding-left: 5.5%;
  padding-top: 30px;
  background-color: #333;
  height: 200px;
}
footer h3 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
footer li {
  line-height: 1.5rem;
}
footer h3, footer a, footer i {
  color: #FfffFF;
}
footer h3, footer a:not(i) {
  font-size: 1.1rem;
}
footer text {
  font-weight: bold;
}
footer i {
  font-size: 0.8rem;
  margin-right: 1rem;
}

.body {
  backface-visibility: hidden;
  width: 100vw;
  height: 100vh;
}

.loader_page {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 1;
  overflow: hidden;
  animation: loaderAnimation 2s forwards;
  animation-delay: 3s;
}

.loader_logo {
  position: relative;
  font-family: "Shrikhand";
  margin: 0 auto;
  top: 20vh;
  width: 80vw;
  text-align: center;
  font-size: 6vh;
  font-weight: 300;
  color: white;
  opacity: 1;
}

@keyframes loaderAnimation {
  0% {
    overflow: visible;
    opacity: 0.97;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    display: none;
    top: -100%;
  }
}
.loader_logo span {
  display: inline-block;
  text-shadow: 0 0 0 #ffffff;
  animation: smoky 2s 2s both, animate 2s 2s both;
}

.loader_logo span:nth-child(even) {
  animation-name: smoky-mirror, animate;
}

@keyframes animate {
  0% {
    transform: rotate(0deg) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    filter: blur(20px);
    color: white;
  }
}
@keyframes smoky {
  60% {
    text-shadow: 0 0 40px white;
  }
  to {
    transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px white;
    opacity: 0;
  }
}
@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px white;
  }
  to {
    transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px white;
    opacity: 0;
  }
}
span:nth-child(1) {
  animation-delay: 1.5s;
}

span:nth-child(2) {
  animation-delay: 1.7s;
}

span:nth-child(3) {
  animation-delay: 1.9s;
}

span:nth-child(4) {
  animation-delay: 2.1s;
}

span:nth-child(5) {
  animation-delay: 2.3s;
}

span:nth-child(6) {
  animation-delay: 2.5s;
}

span:nth-child(7) {
  animation-delay: 2.7s;
}

#cooking {
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 75vh;
  height: 75vh;
  overflow: hidden;
}

#cooking #area {
  position: absolute;
  bottom: 0;
  right: 70px;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 40%;
  animation: flip 2.1s ease-in-out infinite;
}

#cooking #area #sides {
  position: absolute;
  width: 80%;
  height: 80%;
  transform-origin: 15% 40%;
}

#cooking #area #sides #handle {
  position: absolute;
  bottom: 15%;
  right: 90%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid #000;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}

#cooking #area #sides #pan {
  position: absolute;
  bottom: 18%;
  right: 40%;
  width: 50%;
  height: 8%;
  background-color: #000;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}

#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #FF79DA;
  opacity: 0;
}

#cooking .bubble:nth-child(1) {
  margin-top: 1.9vh;
  left: 55%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #9356DC;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}

#cooking .bubble:nth-child(2) {
  margin-top: 1.6vh;
  left: 48%;
  width: 2vh;
  height: 2vh;
  background-color: #FF79DA;
  animation: bubble 2s ease-in-out 0.35s infinite;
}

#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 45%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #FF79DA;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(4) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #9356DC;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(5) {
  margin-top: 1.9vh;
  left: 58%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #FF79DA;
  animation: bubble 1.6s ease-in-out 1s infinite;
}

@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}
#blunt_container {
  width: 50px;
  height: 90px;
  margin: auto;
  position: absolute;
  top: 54vh;
  left: 2vw;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: feelingit 5s infinite;
  animation: feelingit 5s infinite;
}

@-webkit-keyframes feelingit {
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes feelingit {
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes smoke1 {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4) translate(6px, -36px);
    transform: scale(4) translate(6px, -36px);
    opacity: 0;
  }
}
@keyframes smoke1 {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4) translate(6px, -36px);
    transform: scale(4) translate(6px, -36px);
    opacity: 0;
  }
}
@-webkit-keyframes smoke2 {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4) translate(-8px, -50px);
    transform: scale(4) translate(-8px, -50px);
    opacity: 0;
  }
}
@keyframes smoke2 {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4) translate(-8px, -50px);
    transform: scale(4) translate(-8px, -50px);
    opacity: 0;
  }
}
@-webkit-keyframes smoke3 {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4) translate(-1px, -41px);
    transform: scale(4) translate(-1px, -41px);
    opacity: 0;
  }
}
@keyframes smoke3 {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4) translate(-1px, -41px);
    transform: scale(4) translate(-1px, -41px);
    opacity: 0;
  }
}
@-webkit-keyframes smoke4 {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4) translate(0px, -41px);
    transform: scale(4) translate(0px, -41px);
    opacity: 0;
  }
}
@keyframes smoke4 {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4) translate(0px, -41px);
    transform: scale(4) translate(0px, -41px);
    opacity: 0;
  }
}
@-webkit-keyframes smoke5 {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4) translate(-4px, -42px);
    transform: scale(4) translate(-4px, -42px);
    opacity: 0;
  }
}
@keyframes smoke5 {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4) translate(-4px, -42px);
    transform: scale(4) translate(-4px, -42px);
    opacity: 0;
  }
}
.smoke-group {
  width: 100px;
  height: 200px;
  margin-top: -168px;
  margin-left: -30px;
  position: absolute;
}

.smoke {
  position: absolute;
  bottom: 0;
  left: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
  background-color: rgba(241, 241, 241, 0.9450980392);
  border-radius: 7.5px;
  -webkit-filter: blur(6px);
  filter: blur(6px);
  opacity: 0;
}

.smoke:nth-child(1) {
  -webkit-animation-name: smoke3;
  animation-name: smoke3;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(2) {
  -webkit-animation-name: smoke2;
  animation-name: smoke2;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(3) {
  -webkit-animation-name: smoke4;
  animation-name: smoke4;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(4) {
  -webkit-animation-name: smoke2;
  animation-name: smoke2;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(5) {
  -webkit-animation-name: smoke3;
  animation-name: smoke3;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(6) {
  -webkit-animation-name: smoke3;
  animation-name: smoke3;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(7) {
  -webkit-animation-name: smoke1;
  animation-name: smoke1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(8) {
  -webkit-animation-name: smoke1;
  animation-name: smoke1;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(9) {
  -webkit-animation-name: smoke5;
  animation-name: smoke5;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(10) {
  -webkit-animation-name: smoke4;
  animation-name: smoke4;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(11) {
  -webkit-animation-name: smoke5;
  animation-name: smoke5;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 4.4s;
  animation-delay: 4.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(12) {
  -webkit-animation-name: smoke4;
  animation-name: smoke4;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 4.8s;
  animation-delay: 4.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(13) {
  -webkit-animation-name: smoke5;
  animation-name: smoke5;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 5.2s;
  animation-delay: 5.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(14) {
  -webkit-animation-name: smoke2;
  animation-name: smoke2;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 5.6s;
  animation-delay: 5.6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(15) {
  -webkit-animation-name: smoke5;
  animation-name: smoke5;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(16) {
  -webkit-animation-name: smoke3;
  animation-name: smoke3;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 6.4s;
  animation-delay: 6.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(17) {
  -webkit-animation-name: smoke5;
  animation-name: smoke5;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 6.8s;
  animation-delay: 6.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(18) {
  -webkit-animation-name: smoke1;
  animation-name: smoke1;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 7.2s;
  animation-delay: 7.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(19) {
  -webkit-animation-name: smoke1;
  animation-name: smoke1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 7.6s;
  animation-delay: 7.6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.smoke:nth-child(20) {
  -webkit-animation-name: smoke4;
  animation-name: smoke4;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

body {
  color: #000000;
}

h1 {
  padding-top: 50px;
}

h2 {
  padding-top: 40px;
  padding-bottom: 10px;
}

.form_location {
  background-color: #eae9e9;
  box-shadow: inset 1px 4px 9px -8px;
  text-align: center;
  padding: 20px 0;
}
.form_location i {
  color: #414040;
}
.form_location_input {
  background-color: rgb(218, 217, 217);
  border: 1px solid transparent;
  padding-left: 0.5rem;
  width: 125px;
  border: none;
  background: none;
}
.form_location_input::placeholder {
  color: #414040;
  font-weight: 700;
}

.main_header {
  background: #f8f8f8;
  padding-bottom: 40px;
  text-align: center;
}
.main_header .explore {
  background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  color: #FFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 30px;
}
.main_header .explore.order {
  padding: 16px 50px;
}
.main_header .explore.explore {
  padding: 16px 35px;
}
.main_header .explore:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  transform: translateY(-1px);
  background-color: linear-gradient(white, #9356DC);
}

.features {
  padding-right: 5.5%;
  padding-left: 5.5%;
  margin-top: 30px;
  padding-bottom: 40px;
}
.features a {
  color: #000;
}
.features_card {
  height: 70px;
  margin-left: 7px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  background: #f8f8f8;
  align-items: center;
}
.features_card:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
  background-color: #efe6fa;
}
.features_card:hover i {
  color: #9356DC;
}
.features_card .tag-number {
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  margin-left: -14px;
  color: #fff;
}
.features_card i {
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  color: #757272;
}

section {
  padding-right: 5.5%;
  padding-left: 5.5%;
}
section_restaurant {
  background-color: #f8f8f8;
  padding-bottom: 40px;
}

.restaurant {
  flex-direction: column;
}
@media only screen and (min-width: 950px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 2000px) {
  .restaurant {
    height: 900px;
  }
}
.restaurant a article {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.restaurant_card {
  display: block;
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
  color: #000000;
  transition: all 0.2s ease-in-out;
}
.restaurant_card:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 950px) {
  .restaurant_card {
    width: 47%;
    height: 20vw;
  }
}
@media only screen and (min-width: 2000px) {
  .restaurant_card {
    min-width: 400px;
    max-width: 48%;
    height: 48%;
  }
}
.restaurant_card_label_new::after {
  content: "Nouveau";
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 3px;
}
.restaurant_card_box_img {
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.restaurant_card_box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant_card_box_text {
  padding-left: 1.5rem;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}
.restaurant_card_box_text header {
  flex-direction: column;
  align-content: space-around;
}
.restaurant_card_box_text header h3 {
  margin-bottom: 3px;
}
.restaurant_card_box_text header p {
  margin-top: 3px;
}
.restaurant_card_box_text button {
  border: none;
  background-color: white;
  margin-right: 30px;
  height: 40px;
  width: 50px;
}
.restaurant_card_box_text button .vide {
  font-size: 2rem;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  right: 15px;
  bottom: 20px;
}
.restaurant_card_box_text button .rempli {
  display: block;
  font-size: 2rem;
  position: absolute;
  z-index: 99;
  right: 15px;
  bottom: 20px;
  transform: scale(0);
}
.restaurant_card_box_text button:hover .rempli {
  color: rgb(181, 78, 181);
  background-color: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -moz-linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: remplissageCoeur 0.3s forwards;
}
.restaurant_card_box_text button i {
  font-size: 25px;
  margin-right: 2rem;
}
.restaurant_card_box_text button i::before {
  display: initial;
}

@keyframes remplissageCoeur {
  0% {
    transform: scale(0.1);
  }
  20% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */