@mixin tag-count{

  
      $show-numbers: true;

      @if $show-numbers {
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            &:before {
              content: '#{$i}';
            }
          }
        }
      }

      position: absolute;
             height: 25px;
             width: 25px;
             background-color: $color-primary;
             border-radius: 50%;
             margin-right: 10px;
             margin-left: -14px;
             color: $color-white;
             display: flex;
             justify-content: center;
             align-items: center;


}


