/// Main brand color
/// 
/// 
/// 

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;


// $color-quatuary: ;
$color-background-header:rgb(218, 217, 217);

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237);

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153);

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68);

