// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.home_header_page{
    padding-top: 25px;
    padding-bottom: 15px;
    justify-content: center;
    align-content: center;
    img{
    
        width: 220px;
    }


}


.menu_header_page{


padding-top: 25px;
    padding-bottom: 15px;
   
    align-content: center;

     img{
  width: 220px;
   padding-top: 25px;
    padding-bottom: 15px;
    margin: auto;
    
    }

}


.nav_home{
    display: block;
     color: darken($color-background-header, 40%);

 text-align: center;
   font-size: 1.4rem;
   
}

// .nav_return{
//     display: block;
//          position: absolute;
//  top:0;
//     left:0;
//     width: 60px;
//     height: 60px;
//     align-content:center;
    
// }
 
