@mixin btn--pill{    
    background: $bg-btn; 
    color: #FFF;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 30px; 
    &:hover,
    &:active {
        transform: translateY(-1px);
        opacity:0.95;
        box-shadow: 0 0 50px -20px rgba(255,255,255,0.8) inset, 2px 2px 7px 1px rgba(0, 0, 0, 0.7);            
    }  
    @include devices (maxi-pc){
        padding: 30px 120px;
        border-radius: 50px;
    }  
}
@mixin btn--heart{
    border:none;
    position: relative;
    background-color: white;    
    margin-right: 15px;
    bottom: 3px;
    height: 40px;
    width: 55px;
    @include devices (small-pc){
        margin-right: 30px;
    }
    .empty{                    
        position: absolute;
        z-index:1;
        top:22%;
        left:25%;     
        height: 24px;   
        width: 24px;    
    }
    .full{
        display: block;       
        position: absolute;
        z-index:99;
        top:22%;
        left:25%;   
        height: 24px;   
        width: 24px;          
        transform: scale(0); 
        .main-stop {
            stop-color: $color-primary;
        }
        .alt-stop {
            stop-color:$color-secondary;
        }                   
    }
    &:hover,           
    &:active {         
        .full {            
            animation: heartFilling 0.2s forwards;
            transform-origin:12px 12px;
        }
        .empty {
            animation : disappearanceCoeur 0.3s 0.05s forwards;
        }            
    }  
    @keyframes heartFilling {
        0%{transform: scale(0.1);}
        20%{transform: scale(0.3);}
        50%{transform: scale(0.5);}
        70%{transform: scale(0.7);}
        100%{transform: scale(1);}
    }   
    @keyframes disappearanceCoeur {
        0%{opacity:0.9;}
        100%{opacity:0;}
    }
}