

.h1--home{
padding-top: 40px;
padding-bottom: 15px;
font-size: 1.5rem;
font-weight: 700;
padding-left: 40px;
padding-right: 40px;
}
.h2--home{
font-size: 1.4rem;
font-weight: 700;
padding-top:50px;
padding-bottom: 20px;
    @include devices (small-pc){        
        padding-bottom:30px;
    }
}

.flex {
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}


.form_location {
    @include marge-page ;
    background-color: $color-background-header--ligth;
    box-shadow: inset 1px 4px 9px -8px;   
    text-align: center;
    padding: 15px 0;
    
    i {
        color: $color-background-header--dark;
    }
    &_input{
        background-color: $color-background-header;
        border: 1px solid transparent;
        padding-left: 0.5rem;
        width: 125px;
        border: none;
        background: none;

          &::placeholder{
            color: $color-background-header--dark;
            font-weight: 700;
          }
    }
}

.main_header{
    @include marge-page ;
    background: $color-background-header--ultraligth;
    padding-bottom: 50px; 
    text-align: center;
    .explore {
        @include button--gradient;
        padding: 14px 25px;
        @include devices(small-pc) {
            padding: 16px 45px;
        }
    }
}

.features{
    @include marge-page ;
    position: relative;    
    padding-bottom: 40px;
    & a {
        color:#000;
        height: 100%;
    }
    & .card{
        height: 65px;
        margin: 5px 5px 25px 7px;   
        border-radius: 20px 20px 20px 20px; 
        box-shadow: $box-shadow-card-ligth;
        background: $color-background-header--ultraligth;
        align-items: center;
        @include devices (small-pc){                      
            width: 70%;
            margin: 25px auto;
        } 
        @include devices (pc){                      
            width: 40vw;
        } 
        & h3{
            font-weight: 600;
            font-size: 1rem;
            @include devices (small-pc){
               margin-left: 20px;
            }
        }      
        
        &:hover{
            background-color: mix(#fff,$color-primary, 87%);
            i{
                color: $color-primary
            }
        }
        & .tag-number{            
                height: 25px;
                width: 25px;
                background-color: $color-primary;
                border-radius: 50%;                
                margin-left: -14px;
                color: #fff;              
            }
       
        i{
            margin-right: 1.2rem;
            margin-left: 1.2rem;
            color:darken(rgb(218, 217, 217), 40%);
        }
    }    
}   
 
.section_restaurant{
    background-color: lighten($color-background-header,12%);
    padding-bottom: 40px;
    @include marge-page;
}

.restaurant{
        flex-direction: column;
        @include devices(small-pc) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        height: 50vw;
        width: 100%;
        margin-bottom: 30px;
        }
        
        & article{
        height: 100%;
        width: 100%;
        flex-direction: column;
       
        }
        &_card {
        display: block;      
        width: 100%;
        height: 240px;
        margin-bottom: 20px;
        border-radius: 25px;
        position: relative;
        box-shadow: $box-shadow-card;
        transition: all 0.2s ease-in-out;   
        &:hover{
        @include cardHover;
        }
    
        @include devices(small-pc) {
            margin-bottom: 0;
           width: 47%;
           height: 45%;
        }
        @include devices(maxi-pc) {          
           max-width: 45%;
           height: 45%;
        }
        
        &_label_new::after{
        @include tag-new;
        }

        &_box_img {
            width: 100%;
            height: calc(100% - 70px);
            overflow: hidden;         
            position: relative;      
            border-radius: 20px 20px 0 0;      
            img {
            width: 100%;
            height: 100%;
            object-fit: cover;   
            }
        }    

        &_box_text {
            background-color: #fff;
            padding-left: 1.1rem;
            @include devices (small-pc) {
                padding-left: 1.8rem;
            }
           font-size: 0.8rem; 
           justify-content: space-between;
           align-items: center;
           border-radius: 0 0 20px 20px;  
           height: 70px;  
           & header{
            flex-direction: column;
            align-content: center;
                h3{
                    padding-bottom: 5px;
                    font-size: 1.2rem;
                }
                p{
                    font-size: 1.1rem;
                }
            }  
        }
    }
    & .btn--heart {
        @include btn--heart;
    } 
}

