




/*#9356DC #FF79DA #99E2D0*/
/*Logo et titres: Shrikhand
Texte: Roboto*/





$font-family-title: 'shrikhandregular';
$font-family-text: 'robotoregular';






body{
    color:#000000
}

h1{
padding-top: 50px;
}
h2{
padding-top:40px;
padding-bottom: 20px;
    @include devices (pc){
        padding-bottom:30px;
    }
}

.flex {
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}


.form_location {
    @include marge-page ;
    // background-color: #eae9e9;
    background-color: $color-background-header--ligth;

    box-shadow: inset 1px 4px 9px -8px;   
    text-align: center;
    padding: 20px 0;
    
    i {
        color: $color-background-header--dark;
    }
    &_input{
        background-color: $color-background-header;
        border: 1px solid transparent;
        padding-left: 0.5rem;
        width: 125px;
        border: none;
        background: none;

          &::placeholder{
            color: $color-background-header--dark;
            font-weight: 700;
          }

    }

}

.main_header{
    @include marge-page ;

    background: $color-background-header--ultraligth;
    padding-bottom: 40px; 
    text-align: center;
    .explore {
        @include button;
    }
}


.features{
    @include marge-page ;
    position: relative;    
    padding-bottom: 30px;
    & a {
        color:#000;
    }
    & .card{
        height: 65px;
        margin-left: 7px;
        margin-bottom: 25px;    
        border-radius: 15px 15px 15px 15px; 
        box-shadow: $box-shadow-card;
        background: $color-background-header--ultraligth;
        align-items: center;
        
        &:hover{
            @include cardHover;
            background-color: mix(#fff,$color-primary, 87%);
            i{
                color: $color-primary
            }
        }
        & .tag-number{            
                height: 25px;
                width: 25px;
                background-color: $color-primary;
                border-radius: 50%;                
                margin-left: -14px;
                color: #fff;              
            }
       
        i{
            margin-right: 1.2rem;
            margin-left: 1.2rem;
            color:darken(rgb(218, 217, 217), 40%);
        }
    }    
}   
 
.section_restaurant{
    background-color: lighten($color-background-header,12%);
    padding-bottom: 40px;
    @include marge-page;
}

.restaurant{
        flex-direction: column;
        @include devices(pc) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        height: 50vw;
        width: 100%;
        }
        @include devices(maxi-pc) {
            height: 900px;

        }
        & article{
        height: 100%;
        width: 100%;
        flex-direction: column;
       
        }
        &_card {
        display: block;      
        width: 100%;
        height: 240px;
        margin-bottom: 20px;
        border-radius: 25px;
        position: relative;
        box-shadow: $box-shadow-card;
        transition: all 0.2s ease-in-out;   
        &:hover{
        @include cardHover;
        }
    
        @include devices(pc) {
            margin-bottom: 0;
           width: 47%;
           height: 45%;
        }
        @include devices(maxi-pc) {
          
           max-width: 45%;
           height: 45%;
        }
       
        
        
        
        
        &_label_new::after{
        @include tag-new;
        }

        &_box_img {
            width: 100%;
            overflow: hidden;         
            position: relative;            
            img {
            width: 100%;
            height: 100%;
            object-fit: cover;   
            }
        }    

        &_box_text {
            background-color: #fff;
            padding-left: 1rem;
           font-size: 0.8rem; 
           justify-content: space-between;
           align-items: center;
           min-height: 70px;
           & header{
            flex-direction: column;
            align-content: center;
                h3{
                    padding-bottom: 5px;
                }
            }  
        }
    } 
}

.btn--coeur{
    border:none;
    background-color: white;    
    margin-right: 30px;
    height: 40px;
    width: 50px;
    .vide{                    
        font-size: 2rem;
        background-color: #fff;
        position: absolute;
        z-index:1;
        right: 8px;
        bottom:20px;   
        @include devices (pc){
            right: 15px;
            bottom:20px; 
        }                 
    }
    .rempli{
        display: block;
        font-size: 2rem;
        position: absolute;
        z-index:99;
        right: 8px;
        bottom:20px;       
        transform: scale(0); 
        @include devices (pc){
            right: 15px;
            bottom:20px; 
        }                        
    }
    &:hover {
         
        .rempli {
            color:rgb(181, 78, 181);
            background-color: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            background: -moz-linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            background: -webkit-linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;                                                   
            animation: remplissageCoeur 0.3s forwards;
        }
    }
    i{
        font-size: 25px;
        margin-right: 2rem;
                      
        &::before{display:initial}
    }
}


  



@keyframes remplissageCoeur {
0%{transform: scale(0.1);}
20%{transform: scale(0.3);}
50%{transform: scale(0.5);}
70%{transform: scale(0.7);}
100%{transform: scale(1)}
}